<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        Contenido de la variable message: {{message}}
        <p v-if="mostrarEdad">
            Y la edad es: {{edad}}
        </p>
        <p v-if="edad>=18">
            Eres mayor de edad.
        </p>
        <p v-else>
            Eres menor.
        </p>
        <input type="text" v-model="contenidoDelInput">
        <button v-on:click="pulsar">Añadir Elemento</button>
        <ol>
            <li v-for="(nombre,indice) in listaNombres" v-on:click="borrarElemento(nombre)"></li>


        </ol>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="index.js"></script>
</body>
</html>