@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

/// paleta colores
/// @group colores
$colors: (
    primary: #333,
    secondary: #ffe,
    tertiary: #f2f0f1,
    quaternary: #f5b149,
);

///Funcion que devuelve un color delo vector colores
///@group colores
///@param {string} $color-name -- nombre color de lvector colores
///@return {color}
///@example background-color: color(primary); 
@function color ($color-name){
    @return map-get($colors, $color-name);
}

$font-sizes: (
    xx1:6rem,
    x1:3rem,
    1g:2.2rem,
    md:2rem,
    sm:1.8rem,
    xs:1.6rem
);

@function size($size){
     @return map-get($font-sizes, $size);
}