@use "../variables" as *;
@use "../mixins" as *;

.productos{
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    
    &-destacados{
        align-self: center;
        font-size: size(lx);
        color: color(quaternary);
        
    }
    &-imagenes{
        grid-column: 1 / -1;
        display: flex;
        &-vestido{
            grid-column: 1 / 3;
        }
        &-pantalon{
            grid-column: 5 / 7;
        }
        &-camisa{
            grid-column: 8  / -1;
        }
    }
}