@use "../variables" as *;
@use "../mixins" as *;

.productos{
    
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2rem;
    
    &-destacados{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        font-size: size(lx);
        color: color(quaternary);
    }

    &-ropa{   
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        position: relative;
        img{
            margin-left: 10px;
            width: 500px;
            height: 665px;
            object-fit: cover;
        }
        &-texto{
            visibility: hidden;
            visibility: visible;
            background-color: black;
            opacity: 0.75;
            position: absolute;
            top: 50%;
            left: 50%;
            height: inherit;
            width: inherit;
            color: white;
            text-align: center;
            padding-top: 33px;
            
            a{
                color: white;
                font-size: medium;
                border-color: white;
                background-color: orange;
                text-align: center;  
            }
        }
    }

    /*&-ropa:hover{
        .productos-ropa-texto{
            visibility: visible;
            background-color: black;
            opacity: 0.75;
            position: absolute;
            top: 50%;
            left: 50%;
            height: inherit;
            width: inherit;
            color: white;
            text-align: center;
            padding-top: 33px;
            
            a{
                color: white;
                font-size: medium;
                border-color: white;
                background-color: orange;
                text-align: center;  
            }
        }
    }*/

     
    &-vermas{
        grid-column: 6 / 7;
        font-size:large;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            color: color(quaternary);
            text-decoration: underline;
        }
    }
    .productos-ropa:nth-child(2){
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }
    .productos-ropa:nth-child(1){
        grid-column: 5 / 7;
        grid-row: 2 / 3;
    }
    .productos-ropa:nth-child(3){
        grid-column: 7 / -2;
        grid-row: 2 / 3;
    }    
}