@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(0rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: #f2f0f1;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
}

.nav-top-right {
  grid-column: 6/-2;
  grid-row: 1/2;
}
.nav-top-right-list {
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.nav-top-right-item {
  text-decoration: none;
  list-style-type: none;
}
.nav-top-right-link {
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  transition: all 0.5s;
}
@media (max-width: 576px) {
  .nav-top-right-link {
    font-size: xs;
  }
}
.nav-top-right-link:hover {
  color: #999999;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .nav-top-right {
    grid-column: 5/-2;
  }
}
@media (max-width: 768px) {
  .nav-top-right {
    grid-column: 4/-2;
  }
}
@media (max-width: 576px) {
  .nav-top-right {
    grid-column: 2/-1;
  }
}

/*&-list{
        font-size:large;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &-item{
        text-decoration: none;
        list-style-type: none;
    }

    &-link{
        text-decoration: none;
        color: black;
    }
    &-link:hover{
        color:#edaf3d;
        text-decoration: underline;
    }*/
.nav-mid {
  display: grid;
  grid-column: 2/6;
  grid-row: 2/5;
}
.nav-mid-tittle {
  grid-column: 5/6;
  font-size: large;
}
.nav-mid-bottom {
  grid-column: 4/6;
  text-decoration: none;
}
.nav-mid-bottom-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: large;
}
.nav-mid-bottom-link {
  text-decoration: none;
  color: #333;
  padding-left: 2rem;
  padding-right: 2rem;
}

.slideshow {
  grid-column: 1/-1;
  grid-row: 2/3;
  position: relative;
  width: 100%;
  height: 80vh;
}
@media (max-width: 992px) {
  .slideshow {
    height: 60vh;
  }
}
@media (max-width: 768px) {
  .slideshow {
    height: 50vh;
  }
}
.slideshow-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  visibility: hidden;
  opacity: 0;
  animation: slideshow 20s linear infinite;
}
.slideshow-slide img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.slideshow-content {
  background-color: lightgrey;
  position: absolute;
  bottom: 6rem;
  left: 6rem;
  max-width: 40rem;
  padding: 5rem;
}
@media (max-width: 992px) {
  .slideshow-content {
    padding: 2rem;
  }
}
.slideshow-content h2 {
  color: #333;
}

/*
.slideshow-slide:nth-child(1){
    animation-delay: 0s;
}
.slideshow-slide:nth-child(2){
    animation-delay: 4s;
}
.slideshow-slide:nth-child(3){
    animation-delay: 8s;
}
.slideshow-slide:nth-child(4){
    animation-delay: 12s;
}
.slideshow-slide:nth-child(5){
    animation-delay: 16s;
}
*/
.slideshow-slide:nth-child(1) {
  animation-delay: 0s;
}

.slideshow-slide:nth-child(2) {
  animation-delay: 4s;
}

.slideshow-slide:nth-child(3) {
  animation-delay: 8s;
}

.slideshow-slide:nth-child(4) {
  animation-delay: 12s;
}

.slideshow-slide:nth-child(5) {
  animation-delay: 18s;
}

/*
$animap: (
    1: 0s,
    2: 4s,
    3: 8s,
    4: 12s,
    5: 16s
);

@each $key, $value in $animap {
    .slideshow-slide:nth(key){
        animation-delay: $value;
    }
}*/
@keyframes slideshow {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  2% {
    visibility: visible;
    opacity: 1;
  }
  18% {
    visibility: visible;
    opacity: 1;
  }
  20% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
.productos {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
}
.productos-destacados {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  color: #f5b149;
}
.productos-ropa {
  grid-column: 1/-1;
  grid-row: 2/3;
}
.productos-ropa img {
  size: auto;
}
.productos-ropa-texto {
  background-color: black;
  opacity: 0.75;
  height: 125px;
  width: 125px;
  color: white;
  text-align: center;
  padding-top: 33px;
}
.productos-ropa-texto a {
  color: white;
  font-size: medium;
  border-color: white;
  background-color: orange;
  text-align: center;
}
.productos .productos-ropa:nth-child(1) {
  grid-column: 2/4;
  grid-row: 2/3;
}
.productos .productos-ropa:nth-child(2) {
  grid-column: 5/7;
  grid-row: 2/3;
}
.productos .productos-ropa:nth-child(3) {
  grid-column: 8/-2;
  grid-row: 2/3;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
}
.logo-img {
  width: 10rem;
  height: 100%;
}

/*
@use '../variables';

.nav-top-right{
    grid-column: 6 / -1;
    grid-row: 1 / 2;


    .top-right-links{   
        font-size: medium;
        font-family: 'Josefin Sans', sans-serif;
        display: flex;
        flex-direction: row;
        li{
            text-decoration: none;
            padding-left: 3rem;
            padding-right: 3rem;
            a{
                text-decoration: none;
                color:black;
            }
        }    
    }
}
**/

/*# sourceMappingURL=styles.css.map */
