<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
       <div id="app">
        <h1>{{title}}</h1>

        <p>{{message}}</p>
        <p v-if="age>18">Es mayor de edad: {{age}}</p>
        <p v-else>Es menor: {{age}}</p>

        <input @click="deleteInput()" v-model="inputContent" @keydown.enter="pressed" type="text">
        <button v-on:click="pressed">Añadir nombre</button>
        <button @click="deleteElement(index)">Borrar</button>
        
        <ol>
            <li v-for="(name,index) in nameList" v-on:click="deleteElement(index)">
                <p>{{name}}</p>
            </li>
        </ol>

        <form v-on:submit.prevent="addItem">
            <h2>Lista de la compra.</h2>
            <p>Nombre del producto: <input type="text" required v-model="itemName"></p>
            <p>Unidades del producto: <input type="text" v-model="itemNumber" @keydown.enter="pressed2"></p>
            <button type="submit">Añadir</button>
            <p><u>Lista</u>:</p>
            <ul>
                <li v-for="item in shoppingList" v-on:click="deleteElement2(index)">{{item.name}}, {{item.number}}</li>
            </ul>
        </form>
       </div>
       <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> 
       <script src="vue1.js"></script>
    </body>
</html>